@{
    ViewData["Title"] = "Task";
    Layout = "_Layout";
}

<style>
    .list-group-item {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #f5f5f5;
        padding: 1rem 1.5rem;
        font-weight: bold;
        font-size: 14px;
    }

    .input-group-text {
        border-top-right-radius: 2.625rem;
        border-bottom-right-radius: 2.625rem;
        border: 0.0625rem solid #EEEEEE;
        background: transparent;
        padding: 0 1.875rem;
    }
</style>

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Task</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Prep Areas</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Items List</h4>
            </div>
            <div class="card-body">
                <div class="input-group search-area">
                    <input type="text" class="form-control txt-search" placeholder="Search Item">
                    <span class="input-group-text" id="btn-search">
                        <a href="javascript:void(0)">
                            <i class="flaticon-381-search-2"></i>
                        </a>
                    </span>
                </div>
                <div class="basic-list-group" style="height:500px;overflow:auto">
                    <ul class="list-group" id="invList">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Prep Areas</h4>
                <a href="javascript:void(0);" class="btn btn-primary btn-rounded" id="btn-save">Save Changes</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>

                                <th><strong>ID</strong></th>
                                <th><strong>PREP AREA</strong></th>
                                <th style="width:50px;">
                                    <div class="form-check custom-checkbox checkbox-info check-lg me-3">
                                        <label class="form-check-label" for="checkAll"><strong>ENABLED</strong></label>
                                        <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="prepList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var itemSelectedId=0;
    $(document).ready(function(){
        getMasterItemInv();
    });
    $('#btn-search').click(function(e){
        e.preventDefault();
        getMasterItemInv($('.txt-search').val());
        refreshPrepList([]);
    })
    $('#btn-save').click(function(e){
      e.preventDefault();
      var $boxes = $('input[name=chkPrep]:checked');
      var printIds=[];
      if(itemSelectedId==0)
      {
          alert("Please select Item");
          return;
      }
      $boxes.each(function(){
          var id=$(this).data('id');
          printIds.push(id);
        });

         $.ajax({
            url: '@Url.Action("SavePrinterArea", "Home")',
            type: 'post',
            datatype: "json",
            data: {
                printIds: JSON.stringify(printIds),
                itemId: itemSelectedId
            },
            success: function (data) {
                alert("Saved Successfully.");
                getPrintPreById(itemSelectedId);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        })
    })
    function getMasterItemInv(searchParam)
    {
        $.ajax({
            url: '@Url.Action("GetMasterInvData", "Home")',
            type: 'get',
            datatype: "json",
            data: { searchParam: searchParam },
            success: function (data) {
              refreshInvMasterList(data);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
    function getPrintPreById(itemId)
    {
        itemSelectedId=itemId;
        $('.list-group-item').removeClass( "disabled");
        $('#lst-'+itemId).addClass("disabled");
        $.ajax({
            url: '@Url.Action("GetPrepAreaItemsByItemId", "Home")',
            type: 'get',
            datatype: "json",
            data: { itemId: itemId },
            success: function (data) {
              refreshPrepList(data);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
    function refreshInvMasterList(list)
    {
        var html = "";
        for (var l in list) {
            html += "<li class='list-group-item' id='lst-"+list[l].itemNo+"' onclick='getPrintPreById(" + list[l].itemNo + ")' >"+list[l].description+"</li>";
        }
        $('#invList').html(html);
    }
    function refreshPrepList(list)
    {
        var html = "";
        for (var l in list) {
            debugger;
            html += "<tr>";
            html += "<td>"+list[l].posLogicId+"</td>";
            html += "<td>"+list[l].description+"</td>";
            if(list[l].isItemPrinter){
            html += '<td><div class="form-check custom-checkbox checkbox-info check-lg me-3"><input type="checkbox" class="form-check-input" name="chkPrep" data-id="'+list[l].posLogicId+'" data-itmId="'+itemSelectedId+'" id="customCheckBox'+list[l].posLogicId+'" checked><label class="form-check-label" for="customCheckBox'+list[l].posLogicId+'" ></label></div></td>';
            }else{
            html += '<td><div class="form-check custom-checkbox checkbox-info check-lg me-3"><input type="checkbox" class="form-check-input" name="chkPrep" data-id="'+list[l].posLogicId+'" data-itmId="'+itemSelectedId+'" id="customCheckBox'+list[l].posLogicId+'"><label class="form-check-label" for="customCheckBox'+list[l].posLogicId+'"></label></div></td>';
            }
            html += "</tr>";
        }
        $('#prepList').html(html);
    }

</script>